[Unit]
Description=Smartmeter Flask Application
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/MUC-Pi
ExecStart=/home/pi/MUC-Pi/venv/bin/python /home/pi/MUC-Pi/app.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
